<!-- Include Header -->
<%- include layout/updateFormHeader.ejs %>

<div class="signup-form">
    <form action="/edit/<%= user_id %>" method="POST" class="form-horizontal">
        <div class="col-xs-8 col-xs-offset-4">
            <h2>Update Data</h2>
            <!-- Error and Success Message -->
            <% if(messages.error){ %>
                <h4 style="color:#d82436">Failed to Input!</h4>
                <p>Insert the <b style="color:#d82436">Player Data</b> correctly.</p>
                </br>
                <p><%- messages.error %></p>
                <%} else if(messages.success){ %>
                <h4 style="color:#5cb85c">Success to Input!</h4>
                <p>Successfully insert the <b style="color:#5cb85c">Player Data</b>.</p>
                </br>
            <% } %>
		</div>
        <div class="form-group">
			<label class="control-label col-xs-4">First Name</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="firstName" value="<%= firstName %>" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Last Name</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="lastName" value="<%= lastName %>" required="required">
            </div>        	
        </div>
		<div class="form-group">
            <div class="col-xs-8 col-xs-offset-4">
                <p> Back to <a href="/users">View</a></p>
                <button type="submit" name="Submit" value="Edit" class="btn btn-primary btn-lg">Update Data</button>
                <input type="hidden" name="_method" value="PUT"/>
			</div>
		</div>		      
    </form>
</div>    

<!-- Include Footer -->
<%- include layout/footer.ejs %>                   